*{
    font-size: large;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 1.75em;
}
#whole{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
#whole section{
    background-color: grey;
    border: 5px solid black;
    margin: 15px;
    position: relative;
    flex-grow: 1;
}
h2{
    text-align: center;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
    width: 150px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    position: absolute;
    right: 0px;
}
p{
    margin: 10px;
    margin-top: 15px;
}
#chicken{
    background-color: #F9A492;
}
#beef{
    background-color: #F9EF92;
}
#sushi{
    background-color: #92F9F0;
}
@media (min-width:768px) and (max-width:991px) {
    #whole{
        flex-wrap: wrap;
    }
    #whole section{
        width: 300px;
    }
}
@media (max-width:767px){
    #whole{
        flex-direction: column;
    }
}